<p id="notice"><%= notice %></p>

<span align="center">
<p>
  <b>Title:</b>
  <%= @sermon.title %>
</p>
<p>

  <%= image_tag(@sermon.image_url) %>
</p>
<p>
  <%= audio_tag(@sermon.audio_url, :controls=>true , :autoplay => false, :autoload => false)
  %>
</p>

<p>
  <b>Description:</b>
  <%= @sermon.description %>
</p>
</span>





<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %>
