<!DOCTYPE html>
<html>
<head>
  <title>Sermon Manager</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">CCMC</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class = "nav navbar-nav">
      <li><%= link_to "Sermons", sermons_path %></li>
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Contact Us" %></li>
    </ul>

  </div>



</div>
 <div class="container">
   <div class="span9">
     <%= yield %>
   </div>
 </div>


<!-- Latest compiled and minified JavaScript -->



</body>
</html>
